spaceone-core
spaceone-api
mongoengine
langcodes
bcrypt
redis
jinja2
fakeredis
mongomock
pytz
boto3
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-propagator-b3